<div class='actions dropdown'>
  <button class='button clear'><%= fa_icon 'gear' %></button>
  <ul>
    <li><%= link_to_modal "Create album", new_album_path %></li>
    <li class='last'><%= link_to "Sign out", signout_path %></li>
  </ul>
</div>
