<% albums.each do |album| %>
  <%= link_to album_path(album) do %>
    <%= image_tag load_photo(album.photos.first.photo_id), class: 'img-rounded', data: { src: album.photos.first }  %>
    <h3><%= link_to album.name, album_path(album) %></h3>
  <% end %>
<% end %>
