.albums
  .actions .button
    top: 8px
    right: 10px
  > li
    background: white
    +size(221px 285px)
    float: left
    margin:
      right: 22px
      bottom: 22px
    text-align: center
    position: relative
    &.last
      margin-right: 0
  img
    width: 88%
  h3, .album-info
    text-align: left
    padding: 12px
  h3
    display: block
    font:
      family: 'Kankin', sans-serif
      size: 18px
    text-transform: uppercase
    width: 88%
  .album-info
    overflow: hidden
  .share
    +share-button($share)
    float: right
  .photo-counter
    float: left
    margin-top: 5px

#photos
  @extend .albums
  > li
    padding-top: 15px
    .actions.dropdown
      top: 0
      right: 8px
      button
        background: white
