.albums
  .actions .button
    top: 8px
    right: 10px
  > li
    background: white
    +size(221px 285px)
    float: left
    margin:
      right: 22px
      bottom: 22px
    text-align: center
    position: relative
    &.last
      margin-right: 0
  img
    width: 88%
  h3, .album-info
    text-align: left
    padding: 12px
  h3
    display: block
    font:
      family: 'Kankin', sans-serif
      size: 18px
    text-transform: uppercase
    width: 88%
  .album-info
    overflow: hidden
  .share
    float: right
    position: relative
    right: 0
    .fb-share-button, #twitter-widget-0, #___plusone_0
      width: 100px
  .photo-counter
    float: left
    margin-top: 5px

#photos
  @extend .albums
  > li
    padding-top: 15px
    .actions.dropdown
      top: 0
      right: 8px
      button
        background: white
    h3
      font:
        family: 'Fabrica', sans-serif
        size: 12px
      text-transform: none
      line-height: 14px
  .fa-play
    display: block
    color: white
    top: 23px
    left: 20px
    font-size: 20px
    text-shadow: 0 0 8px $text
    position: absolute
