.user
  font:
    family: 'Fabrica', sans-serif
    size: 14px
  a
    text-decoration: none
    color: $text
    +transition (all .2s ease-in-out)
    &:hover
      color: $hover
  b
    font-weight: bold

  .title
    border-bottom: 1px solid $text
    border-top: 1px solid $text
    font:
      family: 'Kankin', sans-serif
      size: 28px
    padding: 15px 0
    margin: 15px 0

