<%= f.fields_for "photos" do |photo| %>
  <ol class='photos'>
  <% @user_photos.each do |p| %>
  <%= photo.input :photo_id, as: :boolean, input_html: { id: p.id, value: p.id, name: 'album[photos][photo_id][]' }, label: "#{image_tag(p.images.thumbnail.url)} <div class='caption'><p>#{truncate(p.caption.text, length: 25, omission: '...')}</p></div>".html_safe %>
  <% end %>
</ol>
<% end %>

<%= link_to 'Load more photos', load_photos_path(max_id: @page_max_id), class: 'button load', remote: true, id: 'load-more' %>

<% content_for :javascripts do %>
  <script type='text/javascript'>
  </script>
<% end %>
