@import bourbon
@import partials/font-face
@import neat
@import bourbon
@import font-awesome
@import partials/reset
@import partials/colors
@import partials/buttons
@import partials/typography
@import partials/grid
@import partials/forms
@import partials/logo
@import partials/albums
@import partials/modal
@import partials/video_player_theme

html, body
  +size(100% 100%)

body
  background: $background
  padding-bottom: 42px
  &.home
    background: url('background.jpg') $background no-repeat center center fixed
    background-size: cover

    .content
      overflow: hidden
      +size(100% auto)
      position: absolute
      text-align: left
      top: 50px
      margin-top: -50px

.connect
  +connect-button($green)
  padding:
    left: 20px
    right: 20px
  line-height: 32px
  margin-left: 30px
  width: 280px

.user > .container
  position: relative
  padding-bottom: 50px
  .album.actions.dropdown
    position: absolute
    top: 33px
    right: 0
  .share
    line-height: 10px
    .fb-share-button
      width: 55px !important

.user .container
  > .share
    position: absolute
    top: 33px
    right: 25px

.user
  form
    &.add-photos, &.add-album
      +photos-form
      +size(100% 100%)
      margin: 0 auto
      overflow: hidden
      max-height: none
      fieldset
        legend
          position: relative
          display: none

footer
  background: white
  color: $text
  text-align: center
  font-size: 12px
  padding: 15px 0
  position: fixed
  bottom: 0
  width: 100%
  a
    color: $blue !important
