@import bourbon
@import partials/font-face
@import neat
@import bourbon
@import font-awesome
@import partials/reset
@import partials/colors
@import partials/buttons
@import partials/typography
@import partials/grid
@import partials/forms
@import partials/logo
@import partials/albums
@import partials/modal

html, body
  +size(100% 100%)

body
  background: $background
  &.home
    background: url('background.jpg') $background no-repeat center center fixed
    background-size: cover

    .content
      overflow: hidden
      +size(100% auto)
      position: absolute
      text-align: left
      left: 10px
      top: 50px
      margin-top: -50px
      padding-left: 20px

.connect
  +connect-button($green)
  padding:
    left: 20px
    right: 20px
  line-height: 32px
  width: 280px

.user > .container
  position: relative
  .album.actions.dropdown
    position: absolute
    top: 36px
    right: 0
  .share
    @extend .album.actions.dropdown
    right: 30px
    .fb-share-button, #twitter-widget-0, #___plusone_0
      width: 120px
      line-height: 14px
.show_photo
  img
    display: block
    margin-right: 15px
  figcaption
    border-bottom: 1px solid $text
    border-top: 1px solid $text
    display: block
    clear: both
    font:
      family: 'Kankin', sans-serif
      size: 28px
    padding: 15px 0
    margin: 15px 0
